#include <behaviors.dtsi>
#include "keys_fr.h"

/ {
    keymap {
        compatible = "zmk,keymap";

        /*
         * BASE
         * Host OS: French AZERTY.
         *
         * FR_* names describe the actual French AZERTY characters.
         * Their HID/US-position translation lives in keys_fr.h.
         *
         * The five central positions are the optional 5-way switch and are
         * deliberately disabled on this Corne-J.
         */
        default_layer {
            display-name = "BASE";
            bindings = <
&kp ESC    &kp FR_A  &kp FR_Z  &kp FR_E  &kp FR_R  &kp FR_T            &none             &kp FR_Y  &kp FR_U      &kp FR_I          &kp FR_O      &kp FR_P            &kp BSPC
&kp LSHFT  &kp FR_Q  &kp FR_S  &kp FR_D  &kp FR_F  &kp FR_G     &none  &none  &none      &kp FR_H  &kp FR_J      &kp FR_K          &kp FR_L      &kp FR_M            &kp FR_U_GRAVE
&kp LCTRL  &kp FR_W  &kp FR_X  &kp FR_C  &kp FR_V  &kp FR_B       &kp SPACE  &none       &kp FR_N  &kp FR_COMMA  &kp FR_SEMICOLON  &kp FR_COLON  &kp FR_EXCLAMATION  &kp TAB
                               &kp LGUI  &mo 2  &kp SPACE                              &kp ENTER  &mo 1  &kp RALT
            >;
        };

        /*
         * NUM/SYM
         *
         * Left hand: common programming symbols for a French AZERTY host.
         * Right hand: digits arranged as a numpad.
         *
         * FR_N0..FR_N9 include the Shift required by the French number row.
         */
        num_sym_layer {
            display-name = "NUM/SYM";
            bindings = <
&trans  &kp FR_HASH           &kp FR_LEFT_BRACE   &kp FR_LEFT_BRACKET  &kp FR_LEFT_PARENTHESIS  &kp FR_RIGHT_PARENTHESIS            &none             &kp FR_N7  &kp FR_N8  &kp FR_N9  &trans     &trans  &trans
&trans  &kp FR_PIPE           &kp FR_BACKSLASH    &kp FR_CARET         &kp FR_AT_SIGN           &kp FR_EQUAL                 &none  &none  &none      &kp FR_N4  &kp FR_N5  &kp FR_N6  &trans     &trans  &trans
&trans  &kp FR_RIGHT_BRACKET  &kp FR_RIGHT_BRACE  &kp FR_PERIOD        &kp FR_SLASH             &kp FR_SECTION                  &trans  &none         &kp FR_N1  &kp FR_N2  &kp FR_N3  &kp FR_N0  &trans  &trans
                                                  &trans  &trans  &trans                              &trans  &trans  &trans
            >;
        };

        /*
         * NAV
         * Vim-like navigation on the right home row:
         * H J K L = Left Down Up Right.
         */
        nav_layer {
            display-name = "NAV";
            bindings = <
&studio_unlock  &trans  &trans  &trans  &trans  &trans            &none             &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &kp DEL  &trans
&trans          &trans  &trans  &trans  &trans  &trans     &none  &none  &none      &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &kp DEL  &trans
&trans          &trans  &trans  &trans  &trans  &trans        &trans  &none         &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &kp INS  &trans
                                &trans  &trans  &trans                              &trans  &trans  &trans
            >;
        };
    };
};
