#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include "keys_fr.h"

/ {
    keymap {
        compatible = "zmk,keymap";

        /*
         * BASE
         * Host OS: French AZERTY.
         *
         * FR_* names describe the actual French AZERTY characters.
         * Their HID/US-position translation lives in keys_fr.h.
         *
         * The five central positions are the optional 5-way switch and are
         * deliberately disabled on this Corne-J.
         */

        default_layer {
            display-name = "BASE";
            bindings = <
&kp ESC    &kp FR_A  &kp FR_Z  &kp FR_E  &kp FR_R  &kp FR_T                    &none         &kp FR_Y   &kp FR_U      &kp FR_I         &kp FR_O      &kp FR_P            &kp BSPC
&kp LSHFT  &kp FR_Q  &kp FR_S  &kp FR_D  &kp FR_F  &kp FR_G             &none  &none  &none  &kp FR_H   &kp FR_J      &kp FR_K         &kp FR_L      &kp FR_M            &kp CAPS
&kp LCTRL  &kp FR_W  &kp FR_X  &kp FR_C  &kp FR_V  &kp FR_B   &trans           &none         &kp FR_N   &kp FR_COMMA  &kp FR_QUESTION  &kp FR_COLON  &kp FR_EXCLAMATION  &kp TAB
                               &kp LGUI  &mo 1     &kp SPACE                                 &kp ENTER  &mo 2         &kp LALT
            >;
        };

        /*
         * NUM/SYM
         *
         * Left hand: common programming symbols for a French AZERTY host.
         * Right hand: digits arranged as a numpad.
         *
         * FR_N0..FR_N9 include the Shift required by the French number row.
         */

        num_sym_layer {
            display-name = "NUM/SYM";
            bindings = <
&trans  &kp FR_HASH   &kp FR_MINUS      &kp FR_SECTION  &kp FR_AT_SIGN     &kp FR_LEFT_BRACKET                       &none         &kp FR_RIGHT_BRACKET      &kp FR_N7  &kp FR_N8  &kp FR_N9  &trans  &trans
&trans  &kp FR_PIPE   &kp FR_BACKSLASH  &kp FR_CARET    &kp FR_UNDERSCORE  &kp FR_LEFT_PARENTHESIS            &none  &none  &none  &kp FR_RIGHT_PARENTHESIS  &kp FR_N4  &kp FR_N5  &kp FR_N6  &trans  &trans
&trans  &kp FR_COLON  &kp FR_EQUAL      &kp FR_PERIOD   &kp FR_SLASH       &kp FR_LEFT_BRACE        &trans           &none         &kp FR_RIGHT_BRACE        &kp FR_N1  &kp FR_N2  &kp FR_N3  &kp N0  &trans
                                        &trans          &trans             &kp SPACE                                               &kp ENTER                 &trans     &trans
            >;
        };

        /*
         * NAV
         * Vim-like navigation on the right home row:
         * H J K L = Left Down Up Right.
         */

        nav_layer {
            display-name = "NAV";
            bindings = <
&studio_unlock  &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &rgb_ug RGB_COLOR_HSB(0,0,100)                   &none         &kp HOME                &kp PG_DN         &kp PG_UP       &kp END            &kp DEL  &trans
&bt BT_CLR      &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4                              &none  &none  &none  &kp LEFT                &kp DOWN          &kp UP          &kp RIGHT          &kp DEL  &trans
&trans          &trans           &trans           &trans           &trans           &trans                          &trans           &none         &kp LC(LG(LEFT_ARROW))  &kp LC(LG(DOWN))  &kp LC(LG(UP))  &kp LC(LG(RIGHT))  &kp INS  &trans
                                                  &trans           &trans           &trans                                                         &trans                  &trans            &trans
            >;
        };

        FUNC {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans          &trans  &kp F7  &kp F8  &kp F9  &kp F12  &trans
&trans  &trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans            &trans          &trans  &kp F1  &kp F2  &kp F3  &kp F10  &trans
                        &trans  &trans  &trans                                    &trans  &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        Functions {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
