#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        /*
         * BASE
         * Host OS: French AZERTY.
         *
         * ZMK key names below are HID/US-position names:
         * Q/W/... therefore produce A/Z/... with a French AZERTY host layout.
         *
         * The five central positions are the optional 5-way switch and are
         * deliberately disabled on this Corne-J.
         */
        default_layer {
            display-name = "BASE";
            bindings = <
&kp ESC    &kp Q  &kp W  &kp E  &kp R  &kp T                   &none                 &kp Y  &kp U  &kp I      &kp O     &kp P     &kp BSPC
&kp LSHFT  &kp A  &kp S  &kp D  &kp F  &kp G          &none    &none    &none         &kp H  &kp J  &kp K      &kp L     &kp SEMI  &kp SQT
&kp LCTRL  &kp Z  &kp X  &kp C  &kp V  &kp B  &kp SPACE       &none                 &kp N  &kp M  &kp COMMA  &kp DOT   &kp FSLH  &kp TAB
                          &kp LGUI  &mo 2  &kp SPACE                                  &kp ENTER  &mo 1  &kp RALT
            >;
        };

        /*
         * NUM/SYM
         *
         * Left hand: common programming symbols for a French AZERTY host.
         * Right hand: digits arranged as a numpad.
         *
         * FR AZERTY:
         *   AltGr+3 #   AltGr+4 {   AltGr+5 [
         *   AltGr+6 |   AltGr+8 \   AltGr+9 ^
         *   AltGr+0 @   AltGr+) ]   AltGr+= }
         *   5 = (       ) key = )   = key = =
         *
         * Digits require Shift on the French number row.
         */
        num_sym_layer {
            display-name = "NUM/SYM";
            bindings = <
&trans  &kp RALT(N3)     &kp RALT(N4)     &kp RALT(N5)     &kp N5        &kp MINUS              &none                 &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &trans      &trans  &trans
&trans  &kp RALT(N6)     &kp RALT(N8)     &kp RALT(N9)     &kp RALT(N0)  &kp EQUAL     &none    &none    &none         &kp LS(N4)  &kp LS(N5)  &kp LS(N6)  &trans      &trans  &trans
&trans  &kp RALT(MINUS)  &kp RALT(EQUAL)  &kp LS(COMMA)    &kp LS(DOT)   &kp LS(FSLH)  &trans   &none                 &kp LS(N1)  &kp LS(N2)  &kp LS(N3)  &kp LS(N0)  &trans  &trans
                                          &trans  &trans  &trans                                            &trans      &trans      &trans
            >;
        };

        /*
         * NAV
         * Vim-like navigation on the right home row:
         * H J K L = Left Down Up Right.
         */
        nav_layer {
            display-name = "NAV";
            bindings = <
&studio_unlock  &trans  &trans  &trans  &trans  &trans           &none                 &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &kp DEL   &trans
&trans          &trans  &trans  &trans  &trans  &trans  &none    &none    &none         &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &kp DEL   &trans
&trans          &trans  &trans  &trans  &trans  &trans  &trans   &none                 &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &kp INS   &trans
                               &trans  &trans  &trans                                  &trans    &trans    &trans
            >;
        };
    };
};
